<%= form_with model: @task, local: true do |form| %>
 <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    </div>
     <div >
          <%= form.label :description %>
           <%= form.text_area :description %>
    </div>
     <div>
          <%= form.label :due_date %>
           <%= form.date_field :due_date %>
    </div>
     <div>
          <%= form.label :status %>
           <%= form.select :status, Task.statuses.keys.map {|status| [status.humanize,status]},selected: @task.status||'pending' %> 
    </div>
    <div>
          <%= form.submit "Create Task"%>
    </div> 
    <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
   <% end %>
<% end %>
