<h1>Task Details</h1>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Status:</strong>
   <%= @task.status.present? ? @task.status.humanize : 'unknown'%>
</p>
<%= link_to 'Edit', edit_task_path(@task) %> 
<%= button_to 'Delete', task_path(@task) , method: :delete , data:{ confirm: "Do you want to Delete"} %> 
<%= link_to 'Back', tasks_path %>